@font-face{
    font-family:'Kingthings';
    src:url(../fonts/Kingthings_Petrock_light.ttf);
}


    /* En commun */

body {
    margin:0;
    padding: 20px 0 0 0;
    background: rgb(61, 61, 61);
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.container {
    max-width: 1000px;
}
h1, h4, h5{
    font-family: Helvetica, Arial;
    color: #ececec!important;
}


h1 {
    font-family:'Kingthings';
    font-size: 6rem;
}
h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color:#DC9877;
}
h3 {
    font-size: 2.7rem;
    line-height: 1.4em;
    color:#DC9877;
}
.mg-md {
    margin-top: 10px;
    margin-bottom: 20px;
}
h4{
    font-size: 3rem;
    line-height: 1.4em;
    color: #ffffff!important;
}
h5{
    font-size:1.7rem;
    color:white;
    font-weight: bold;
}




.bloc {
    width: 100%;
    clear: both;
    background: 50% 50% no-repeat;
    padding: 0 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}
.bloc .container {
    padding-left: 0;
    padding-right: 0;
}
.bloc-lg {
    padding: 100px 50px;
}
.bloc-md {
    padding: 50px;
}
.bloc-sm {
    padding: 20px 50px;
}
#bloc-0 li a:hover{
    background-color: rgba(255, 255, 255, 0.445);
    border-radius: 10px;
}



.btn{
    margin: 0 5px 5px 0;
    height:60px;
}
.btn-rd {
    border-radius: 40px;
}
.btn-clean {
    border: 1px solid rgba(0, 0, 0, .08);
    border-bottom-color: rgba(0, 0, 0, .1);
    text-shadow: 0 1px 0 rgba(0, 0, 1, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 1, .25), inset 0 1px 0 0 rgba(255, 255, 255, .15);
}
a,button {
    transition: all .3s ease-in-out;
    outline: none!important;
}
button {
    outline: none!important;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
}
.cta-hero {
    margin-top: 22px;
    color: #FFFFFF!important;
    text-transform: uppercase;
    padding: 16px 28px 12px 28px;
    font-size: 20px;
    font-weight: 700;
}





.bgc-white {
    background-color: rgb(41, 41, 41);
}
.bgc-dark-slate-blue {
    background-color: #364577;
}
.bgc-atomic-tangerine {
    background-color: #F3976C;
}
.tc-white {
    color: #F3976C!important;
}
.btn-atomic-tangerine {
    background: #F3976C;
    color: #FFFFFF!important;
}
.btn-atomic-tangerine:hover {
    background: #DC9877!important;
    color: #FFFFFF!important;
}






a[data-lightbox] {
    position: relative;
    display: block;
    text-align: center;
}
a[data-lightbox]:hover::before {
    content: "+";
    font-family: Helvetica, Arial;
    font-size: 32px;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .6);
    color: #FFF;
    font-weight: 100;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
a[data-lightbox]:hover img {
    opacity: 0.6;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
}





/* 0-navigation */

#bloc-0{
    width: 100%;
}

#bloc-0 p{
    font-size:3rem;
    min-width:250px;
}
a p{
    font-family:'Kingthings';
}

.navbar {
    margin-bottom: 0px;
    z-index: 1;
    height:80px;
}
.navbar-header{
    padding-top: 15px;
}
.navbar-brand{
    padding-top: 5px;
}
.navbar-brand img {
    margin-bottom:8px;
    padding-right:10px;
}

.navbar-brand img[src$=svg] {
    min-width: 100px;
}

.navbar-toggle:hover {
    background: transparent!important;
}

.icon-bar {
    background-color: rgba(0, 0, 0, .5);
    width: 26px;
}


/* 1-présentation */

#bloc-1-hero p{
    font-size: 1.7rem;
    margin-top:20px;
}
.white {
    color: #FFFFFF!important;
}



/* 2-service */

#bloc-2-services p{
    font-size:1.6rem;
    margin-right:10vw;
    margin-left:10vw;
    margin-bottom:40px;
    text-align:justify;
    color:white;
}
.titreservice{
    font-size:3.5rem;
    font-family: 'Kingthings';
    color:#F3976C;
}
.icon-lg {
    font-size: 60px!important;
}
.sm-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}
.icons {
    margin-bottom: 14px;
    margin-top: 24px;
}
.icon-dark-slate-blue {
    color: #F3976C!important;
    border-color: #ffffff!important;
}


/* 3-portfolio */

#bloc-3-portfolio img{
    margin-right:auto;
    margin-left:auto;
}

#bloc-3-portfolio h2{
    padding:0px;
    margin-left:1vw;
    margin-right:1vw;
    font-size:2rem;
    
}
#bloc-3-portfolio h3{
    font-size:2rem;
}
#bloc-3-portfolio p{
    font-size: 1.6rem;
    text-align:justify;
    margin-bottom:60px;
    color:white;
}
.white{
    color:white;
}
.bg-repeat {
    -webkit-background-size: auto!important;
    -moz-background-size: auto!important;
    -o-background-size: auto!important;
    background-size: auto!important;
    background: repeat;
}
.portfolio-thumb {
    margin-bottom: 24px;
}
.portfolio-row {
    margin-bottom: 44px;
    margin-top: 50px;
}




/* 4- whatIDo */

#bloc-4-what-i-do a{
    font-size: 1.7rem;
    padding-top:18px;
}
#bloc-4-what-i-do h3{
    color:white;
    font-size:2.2rem;
}
#bloc-4-what-i-do p{
    font-size:1.6rem;
}
.black-background {
    background-color: rgba(165, 147, 99, 0.7);
    padding: 40px 40px 40px 40px;
}




/* 5- citation */

#citation p{
    font-size: 1.5rem;
    color:#DC9877;
    margin-top:30px;

    margin-right:10vw;
    margin-left:10vw;
} 

blockquote{
    margin-right:10vw;
    margin-left:10vw;

    font-weight: bold;
    font-style: italic;
    font-size: 2rem;

    color:rgb(83, 82, 82);
}
.tight-width-whitespace {
    max-width: 90%;
    margin: auto auto auto auto;
}
.med-width-whitespace {
    max-width: 800px;
    margin: auto auto auto auto;
    box-shadow: 0px 0px 0px #000000;
}


.voffset-lg {
    margin-top: 40px;
    margin-bottom: 20px;
}




/* footer */

p {
    font-size: 12px;
    color:white;
}
.sitemap{
    width: 100%;
}
ul{
    list-style: none;
    padding-left:10px;
}
li{
    color:#ffffff;
}
li a{
    color:#ffffff;
}
#btnform{
    height: 34px;
    margin-top:5px;  
}
.margadress{
    margin-left:32px;
}
.social {
    display:flex;
    padding:10px;
}
.reseausociaux{
    display:flex;
}
.icon-md {
    font-size: 30px!important;
    color: rgb(212, 212, 212);
}
#mention a,#mention p{
    color:white;
    font-size:1rem;
    margin-bottom:0;
}




    /* IMAGE */

.bg-banniere {
    background-image: url("../img/la-chouette-agence-banniere.jpg");
}
.bg-presentation {
    background-image: url("../img/image-de-presentation.jpg");
}
.bloc-bg-texture::before {
    content: "";
    background-size: 2px 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.texture-paper::before {
    background: url("../img/texture-paper.png");
    background-size: 280px 280px;
}

.b-parallax {
    background-attachment: fixed;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .b-parallax {
        background-attachment: scroll;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .b-parallax {
        background-attachment: scroll;
    }
}









/* plus grand que 768px */

@media (min-width: 768px) {
    .site-navigation {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        -webkit-transform: translateY(-50%);
    }

    #bloc-2-services p{
        font-size:1.4rem;
        margin-right:0.2vw;
        margin-left:0.2vw;
        text-align:justify;
    }
    blockquote{
        width: 75%;
        margin-right:auto;
        margin-left:auto;
    
        font-weight: bold;
        font-style: italic;
    
        color:rgb(236, 236, 236);
    }
}





/* plus petit que 1024px */

@media (max-width: 1024px) {
    .bloc {
        padding-left: 20px;
        padding-right: 20px;
    }
}


@media (max-width: 991px) {
    .container {
        width: 100%;
    }
    .b-parallax {
        background-attachment: scroll;
    }
    .page-container,
    #hero-bloc {
        overflow-x: hidden;
        position: relative;
    }
    .bloc {
        padding-left: constant(safe-area-inset-left);
        padding-right: constant(safe-area-inset-right);
    }
}


@media (max-width: 767px) {
    .page-container {
        overflow-x: hidden;
        position: relative;
    }
    h1,h2,h3,h4,h5,h6,p{
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
    .b-parallax {
        background-attachment: scroll;
    }
    
    .site-navigation {
        position: inherit;
        transform: none;
        -webkit-transform: none;
        -ms-transform: none;
    }
    .nav > li {
        margin-top: 0;
        border-bottom: 1px solid rgb(250, 250, 250, 0.5);
        background: rgba(41, 41, 41, 0.95);
        text-align: left;
        padding-left: 15px;
        width: 100%;
    }
    .nav > li:hover {
        background: rgb(94, 94, 94);
    }
    .dropdown .dropdown a .caret {
        float: none;
        margin: 5px 0 0 10px!important;
        border: 4px solid black;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }
    
    
    .hero {
        padding: 50px 0;
    }
    .hero-nav {
        left: -1px;
        right: -1px;
    }
    .navbar-collapse {
        padding: 0;
        margin-top:6px;
        overflow-x: hidden;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .bloc {
        padding-left: 0;
        padding-right: 0;
    }
    .bloc-lg {
        padding: 40px 0;
    }
    .bloc-sm,
    .bloc-md {
        padding-left: 0;
        padding-right: 0;
    }
    
    
    
    .voffset {
        margin-top: 5px;
    }
    .voffset-md {
        margin-top: 20px;
    }
    .voffset-lg {
        margin-top: 30px;
    }
}

@media (max-width: 400px) {
    .bloc {
        padding-left: 0;
        padding-right: 0;
    }

    #bloc-0 p{
        font-size: 2rem;
        min-width: 100px;
    }
    #bloc-0 button{
        margin:10px;
    }
    h1{
        font-size: 4rem;;
    }
    body{
        margin:0;
        padding:0;
    }

    #bloc-2-services p{
        margin:0;
        padding:0;
    }
    .tight-width-whitespace{
        padding:0;
    }

    #bloc-4-what-i-do h3{
        font-size:1.8rem;
        text-align: justify;
    }
    #bloc-4-what-i-do p{
        font-size:1.2rem;
    }

    #bloc-4-what-i-do .btn-atomic-tangerine{
        font-size: 1.3rem;
    }

    blockquote{
        font-size: 1.6rem;
    }

    #bloc-5-cta h4{
        font-size: 2.3rem;
    }
    #bloc-5-cta a{
        font-size: 1.6rem;
    }

    #bloc-8 h5{
        font-size: 1.5rem;
    }

    #bloc-8 ul{
        word-wrap: break-word;
    }
    #bloc-8 .social{
        padding-left:5px;
    }
}
